venv/
.env
.env.db

__pycache__/
*.py[cod]
*.sqlite3
*.log

staticfiles/

.vscode/
.idea/

*.pid
*.sock

node_modules/
package-lock.json

.DS_Store

static/vendor/
static/css/
static/js/
static/img/

